<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>Описание товара: {{ item.detail }}</p>
    <p>Стоимость - {{ item.price|floatformat:2 }} рублей</p>
    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var buyButton = document.getElementById('buy-button');
      var stripe = Stripe('pk_test_51McuuSBMgDeLhXVHGArOJHhkSvEJflMgepL2LtEfhcZKUEds61P70QfDXBCuE3UGWGevN6AQdEgQdIuA47lRK8D500oZIwvSn0');
      function sayHi(){
        let url = '/buy/1';
        fetch(url)
        .then(function(response) {
            return response.json();
          })
          .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
        }
      buyButton.addEventListener('click', sayHi);
    </script>
</body>
</html>