<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>Описание товара: {{ item.detail }}</p>
    <p>Стоимость - {{ item.price|floatformat:2 }} {{ item.currency }}</p>
    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var buyButton = document.getElementById('buy-button');
      var stripe = Stripe('pk_test_51McuuSBMgDeLhXVHGArOJHhkSvEJflMgepL2LtEfhcZKUEds61P70QfDXBCuE3UGWGevN6AQdEgQdIuA47lRK8D500oZIwvSn0');
      function stripeRedirect(){
        let url = '/buy/{{ item.pk }}';
        fetch(url)
        .then(function(response) {
            return response.json();
          })
          .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
        }
      buyButton.addEventListener('click', stripeRedirect);
    </script>
    <button id="add-to-order-button">Add to order</button><p>
    <a href="{% url 'order' order.pk %}">Перейти к заказу</a></p>
    <script type="text/javascript">
      var addButton = document.getElementById('add-to-order-button');
      function addToOrder(){
        let url = '/add_item_to_order/{{ order.pk }}/{{ item.pk }}';
        fetch(url)
        .then(function(response) {
            return response.json();
          })
          .then(function(data) {
            alert(data.message);
          })
        }
      addButton.addEventListener('click', addToOrder);
    </script>
</body>
</html>