<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
    {% if this_order.items %}
        {% for item in this_order.items.all %}
            <p>{{ item.name }} | {{ item.price|floatformat:2 }} рублей</p>
        {% endfor %}
    {% endif %}

    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var buyButton = document.getElementById('buy-button');
      var stripe = Stripe('pk_test_51McuuSBMgDeLhXVHGArOJHhkSvEJflMgepL2LtEfhcZKUEds61P70QfDXBCuE3UGWGevN6AQdEgQdIuA47lRK8D500oZIwvSn0');
      function stripeRedirect(){
        let url = '/order_buy/{{ order.pk }}';
        fetch(url)
        .then(function(response) {
            return response.json();
          })
          .then(function(session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
        }
      buyButton.addEventListener('click', stripeRedirect);
    </script>
</body>
</html>